
<div class="container">
  <div class="row">
    <div class="col-10"></div>
    <div class="col-1">
      <form [formGroup]="songForm" (ngSubmit)="editSong()">
        <h3>Sửa bài hát</h3>
        <div class="font-group">
          <input hidden class="form-control" formControlName="id"
                 id="id" placeholder="name">
        </div>
        <div class="text-left">
          <label>Tên</label>
        </div>
        <div class="font-group">
          <input type="text" class="form-control" formControlName="title"
                 id="title" placeholder="name">
        </div>
        <div class="text-left">
          <label>Mô tả</label>
        </div>
        <div class="font-group">
          <input type="text" class="form-control" formControlName="description"
                 id="description" placeholder="description">
        </div>
        <div class="text-left">
          <label>Avatar</label>
        </div>
        <div class="font-group">
          <input type="text" class="form-control" formControlName="avatar"
                 id="avatar" placeholder="avatar">
        </div>
        <div class="text-left">
          <label>Ca sĩ</label>
        </div>
        <div class="font-group">
          <input type="text" class="form-control" formControlName="singer"
                 id="singer" placeholder="singer">
        </div>
        <div class="text-left">
          <label>Thể loại</label>
        </div>
        <div class="font-group">
          <input type="text" class="form-control" formControlName="type"
                 id="type" placeholder="type">
        </div>
        <button type="submit" class="btn btn-success" style="margin: 20px 20px" >Sửa</button>
        <button routerLink="" class="btn btn-success" >Trở lại</button>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>

