
<div class="align-content-center">

    <div class="col-10"></div>
    <div class="col-1">
      <form [formGroup]="songForm" (ngSubmit)="update()">
        <h3>Sửa bài hát</h3>
        <div class="font-group">
          <input hidden class="form-control" formControlName="id"
                 id="id" placeholder="name">
        </div>
        <div class="text-left">
          <label>Tên</label>
        </div>
        <div class="font-group">
          <input type="text" class="form-control" formControlName="name"
                 id="name" placeholder="name">
        </div>
        <div class="text-left">
          <label>Mô tả</label>
        </div>
        <div class="font-group">
          <input type="text" class="form-control" formControlName="describeSong"
                 id="describeSong" placeholder="describeSong">
        </div>
        <div class="text-left">
          <label>Avatar</label>
        </div>
        <tr>
          <td>Avatar:</td>
          <td><input type="file"  (change)="sendToFirebaseImg()"> </td>
        </tr>

        <tr>
          <td>File mp3:</td>
          <!--      <td><img [src]="downloadMp3URL"</td>-->
          <td> <input type="file" (change)="sendToFirebaseMp3()" > </td>
        </tr>
<!--        <tr>-->
<!--          <td>Avatar</td>-->
<!--          <td><input type="file" formControlName="avatar"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>file Mp3</td>-->
<!--          <td><input type="file" formControlName="fileMp3"></td>-->
<!--        </tr>-->

<!--        <div class="text-left">-->
<!--          <label>Ca sĩ</label>-->
<!--        </div>-->
<!--        <div class="font-group">-->
<!--          <input type="text" class="form-control" formControlName="singer"-->
<!--                 id="singer" placeholder="singer">-->
<!--        </div>-->
<!--        <div class="text-left">-->
<!--          <label>Thể loại</label>-->
<!--        </div>-->
<!--        <div class="font-group">-->
<!--          <input type="text" class="form-control" formControlName="songTypeSet"-->
<!--                 id="songTypeSet" placeholder="songTypeSet">-->
<!--        </div>-->
        <button type="submit" class="btn btn-success" style="margin: 20px 20px" >Sửa</button>
        <button routerLink="" class="btn btn-success" >Trở lại</button>
      </form>
    </div>
    <div class="col-2"></div>

</div>

