<div class="container">
  <section class="container">
    <div class="new-most-song mt-5">
      <div class="row p-10">
        <div class="col-10">
          <h4 class="font-weight-bold">Bài hát</h4>
          <table class="table table-striped d-print-table-cell">
            <thead class="thead-green">
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Ảnh</th>
              <th scope="col">Bài hát</th>
              <th scope="col">Mô tả</th>
              <!--              <th scope="col">Album</th>-->
              <th scope="col">View</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let song of songs,let indexOfElement=index;">
              <th scope="row">{{indexOfElement + 1}}</th>
              <td><img width="40" height="40" src="{{song.avatar}}" class="img thumbnail pull-left mr-2"></td>
              <td routerLink="search{{song.id}}">{{song.name}}</td>
              <td routerLink="search{{song.id}}">{{song.describeSong}}</td>
              <!--              <td routerLink="search{{song.id}}">{{song.album}}</td>-->

              <td>{{song.view}}</td>
              <td>
                <button class="btn btn-success" routerLink="list-song/{{song.id}}"> Nghe ⫸</button>
              </td>
              <td>
                <a routerLink="playlist/{{song.id}}" class="btn btn-primary">Thêm vào danh sách phát</a>
              </td>
              <td>
                <a routerLink="edit/{{song.id}}" class="btn btn-warning">Sửa</a>
              </td>
              <td>
                <button (click)="delete(song.id)" class="btn btn-danger">Xoá</button>
              </td>
            </tr>
            </tbody>
          </table>
          <td>
            <button routerLink="" class="btn btn-success">Trở lại</button>
            <!--              <button class="button-cancel" [routerLink]="['/home']">Thoát</button>-->
          </td>
          <!--          <ang-music-player [audioList] = "audioList" backgroundColor="#bb74ce" width="100%"></ang-music-player>-->
        </div>
      </div>
    </div>
  </section>
</div>

