<body background="assets/img/pngtree-beautiful-purple-line-bubble-background-picture-image_1463162.jpg"
style="text-align:center"
>
<app-navbar-menu style="background-color: #bd6fbb"></app-navbar-menu>
<div><br></div>
<div><br></div>
<div class="container" style="text-align:center">
  <section class="container" >
    <div class="new-most-song mt-5" >
      <div class="row p-12">
        <div class="col-12" >
          <button class="btn btn-warning">
            <a routerLink="/create">Tạo bài hát</a>
          </button>
          <div><br></div>
          <h4 class="font-weight-bold" style="font-size: 50px" >Bài hát</h4>
          <table class="table table-striped d-print-table-cell" style="background-color: #d384de">
            <thead class="thead-green">
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Ảnh</th>
              <th scope="col">Bài hát</th>
              <th scope="col">Mô tả</th>
              <!--              <th scope="col">Album</th>-->
              <th scope="col">Lượt xem</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let song of songs,let indexOfElement=index;">
              <th scope="row">{{indexOfElement + 1}}</th>
              <td><img width="40" height="40" src="{{song.avatar}}" class="img thumbnail pull-left mr-2"></td>
              <td routerLink="search{{song.id}}">{{song.name}}</td>
              <td routerLink="search{{song.id}}">{{song.describeSong}}</td>
              <!--              <td routerLink="search{{song.id}}">{{song.album}}</td>-->
              <td>{{song.view}}</td>
              <td>
                <button class="btn btn-success" routerLink="song/{{song.id}}"> Nghe ⫸</button>
              </td>
              <td>
                <a routerLink="playlist/{{song.id}}" class="btn btn-primary">Thêm vào danh sách phát</a>
              </td>
              <td>
                <button>
                  <a routerLink="edit/{{song.id}}" data-tip="edit"><i class="fa fa-edit"></i></a>
                </button>
              </td>
              <td>
                <button (click)="delete(song.id)" data-tip="delete"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
            <div  >
              <button style="font-size: 20px" routerLink="" class="btn btn-success">Trở lại</button>
            </div>

            <!--              <button class="button-cancel" [routerLink]="['/home']">Thoát</button>-->
          <!--          <ang-music-player [audioList] = "audioList" backgroundColor="#bb74ce" width="100%"></ang-music-player>-->
        </div>
      </div>
    </div>
  </section>
</div>
</body>
