<div class="container">
<h1>Thêm bài hát mới</h1>
<form  [formGroup]="songForm" >
  <table>
    <tr>
      <td>Tên:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Mô tả:</td>
      <td><input type="text" formControlName="describeSong"></td>
    </tr>
    <tr>
      <td>Avatar:</td>
      <td><input type="file"  (change)="sendToFirebaseImg()"> </td>
    </tr>

    <tr>
      <td>File mp3:</td>
<!--      <td><img [src]="downloadMp3URL"</td>-->
      <td> <input type="file" (change)="sendToFirebaseMp3()" > </td>
    </tr>


    <tr>
      <td></td>
      <td>
        <button (click)="saveSong()">Tạo mới</button>
      </td>
    </tr>
    <button routerLink="/userListSong" class="btn btn-success">Trở lại</button>
  </table>
</form>
</div>
