<body background="https://img.upanh.tv/2022/12/19/nen.png">
<div><br></div>
<div><br></div>
   <div class="container">
<h1 style="color: #abdde5">Thêm bài hát mới</h1>
<form  [formGroup]="songForm" >
  <table>
    <tr>
      <td style="color: #abdde5">Tên:</td>
      <td><input type="text" formControlName="name" placeholder="Nhập tên bài hát..."></td>
    </tr><br>
    <tr>
      <td style="color: #abdde5">Mô tả:</td>
      <td><input type="text" formControlName="describeSong" placeholder="Nhập mô tả bài hát..."></td>
    </tr><br>
    <tr>
      <td style="color: #abdde5">Ảnh:</td>
      <td><input type="file"  (change)="sendToFirebaseImg()"> </td>
    </tr><br>

    <tr>
      <td style="color: #abdde5">Tệp mp3</td>
<!--      <td><img [src]="downloadMp3URL"</td>-->
      <td> <input type="file" (change)="sendToFirebaseMp3()" > </td>
    </tr><br>
    <tr>
      <td></td>
      <td>
        <button style="color: #abdde5" class="btn btn-outline-primary" (click)="saveSong()">Tạo mới</button>&nbsp;&nbsp; &nbsp;
        <button style="color: #abdde5" routerLink="/userListSong" class="btn btn-outline-success">Quay lại</button>
      </td>
    </tr>

  </table>
</form>
</div>
</body>
