<h1>Danh sách bài hát</h1>

<table>
  <tr>
    <td>Name</td>
    <td>Avatar</td>
    <td>View</td>
    <td colspan="2"></td>
  </tr>
  <tr *ngFor="let song of songs;index as i" >
    <td>{{song.name}}</td>
    <td  class="img thumbnail pull-left mr-2" > <img width="40" height="40" src="{{song.avatar}}"> </td>
    <td>{{song.view}}</td>
    <td>
      <a routerLink="edit/{{song.id}}" class="btn btn-warning">Edit</a>
    </td>
    <td>
      <button (click)="delete(song.id)" class="btn btn-danger" >Delete</button>
    </td>
  </tr>
  <tr *ngFor="let song of songs;index as i" >
    <td>{{song.name}}</td>
    <td  class="img thumbnail pull-left mr-2" > <img width="40" height="40" src="{{song.avatar}}"> </td>
    <td>{{song.view}}</td>
    <td>
      <a routerLink="edit/{{song.id}}" class="btn btn-warning">Edit</a>
    </td>
    <td>
      <button (click)="delete(song.id)" class="btn btn-danger" >Delete</button>
    </td>
  </tr>
  <body>
  <h2 style="color: #e74809">Bên trên tầng lầu - Tăng Duy Tân</h2>
  <audio controls>
    <source src="https://firebasestorage.googleapis.com/v0/b/htv3-8f33d.appspot.com/o/file_mp3%2FBen%20tren%20tang%20lau.mp3?alt=media&token=c2d006de-52dd-4742-8768-a37405146bfb">
  </audio>
  </body>
</table>
