<h1>Danh sách bài hát</h1>

<table border="1">
  <tr>
    <td>Name</td>
    <td>Avatar</td>
    <td>View</td>
    <td colspan="2"></td>
  </tr>
  <tr *ngFor="let song of songs;index as i"  >
    <td>{{song.name}}</td>
    <td  class="img thumbnail pull-left mr-2" > <img width="40" height="40" src="{{song.avatar}}"> </td>
    <td>{{song.view}}</td>
    <td>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
       add song to playlist
      </button>
      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Playlist</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div  class="modal-body" >
              <div *ngFor="let playlist of playlist;index as i" (click)="addSongToPlaylist(playlist.id)">
                {{playlist.name}}
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" >
              <button type="button" class="btn btn-danger" data-dismiss="modal" >back</button>
            </div>

          </div>
        </div>
      </div>

<!--      <a routerLink="playlist/{{song.id}}" class="btn btn-warning"></a>-->

        </td>
<!--    <td>-->
<!--      <div class="dropdown" >-->
<!--        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" >-->
<!--          Playlist-->
<!--        </button>-->
<!--        <div class="dropdown-menu"  *ngFor="let playlist of playlist;index as i" >-->
<!--          <a class="dropdown-item" href="#"  > {{playlist.name}}</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </td>-->
    <td>
      <a routerLink="edit/{{song.id}}" class="btn btn-warning">Edit</a>
    </td>
    <td>
      <button (click)="delete(song.id)" class="btn btn-danger" >Delete</button>
    </td>
  </tr>
</table>
<ang-music-player [audioList] = "audioList" backgroundColor="#bb74ce" width="100%"></ang-music-player>
