<body background="https://img.upanh.tv/2022/12/19/nen.png"
      style="text-align:center"
>
<!--<app-navbar-menu style="background-color: #bd6fbb"></app-navbar-menu>-->
<div><br></div>
<div><br></div>
<div class="container">
  <section class="container">
    <div class="new-most-song mt-5">
      <div class="row p-10">
        <div class="col-10">
          <h4 style="color:#efc1ae;"class="font-weight-bold">Danh sách phát</h4>
          <button class="btn btn-outline-info" >
            <a style="color:#efc1ae;"routerLink="/playlist/createplaylist">Tạo danh sách</a>
          </button>
          <table class="table table-striped d-print-table-cell">
            <thead class="thead-green">
            <tr>
              <th style="color:#efc1ae;"scope="col">STT</th>
              <th style="color:#efc1ae;"scope="col">Tên</th>
              <th style="color:#efc1ae;"scope="col">Danh sách</th>
              <th style="color:#efc1ae;"scope="col">Sửa</th>
              <th style="color:#efc1ae;"scope="col">Xóa</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let playlist of playlist,let indexOfelement=index;">
              <th style="color:#efc1ae;"scope="row">{{indexOfelement + 1}}</th>
              <td style="color:#efc1ae;"routerLink="playlist{{playlist.id}}">{{playlist.name}}</td>
              <td>
                <button style="color:#efc1ae;"type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#song-in-play-list-modal"
                        (click)="showSongInPlaylist(playlist.id)">
                 Danh sách phát
                </button>
                <!-- The Modal -->
                <div class="modal" id="song-in-play-list-modal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 style="color:#efc1ae;"class="modal-title">Danh sách phát</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <!-- Modal body -->
                      <div class="modal-body">
                        <div *ngFor="let song of songs;index as i">
                          {{song.name}}
                        </div>
                      </div>
                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Quay lại</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <a style="color: #c4d4fa" routerLink="/playlist/edit1/{{playlist.id}}" class="btn btn-outline-success">Sửa</a>
              </td>
              <td>
                <button style="color: #c4d4fa" (click)="delete(playlist.id)" class="btn btn-outline-danger">Xóa</button>
              </td>
              <td><button style="color: #c4d4fa"class="btn btn-outline-primary" routerLink="song/{{playlist.id}}"> |⫸</button></td>
            </tr>
            </tbody>
          </table>
          <div class="modal-footer" >
            <button style="color: #c4d4fa" routerLink="" type="button" class="btn btn-outline-primary" data-dismiss="modal" >Quay lại</button>
          </div>
<!--        git chec-->
        </div>
      </div>
    </div>
  </section>
</div>

