<div class="container">
<h1>Tạo danh sách mới</h1>
<form  [formGroup]="playlistForm" >
  <table>
    <tr>
      <td>Tên:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button (click)="savePlaylist()">Tạo mới</button>
      </td>
      <td>
        <button routerLink="/playlist" class="btn btn-success">Trở lại</button>
        <!--              <button class="button-cancel" [routerLink]="['/home']">Thoát</button>-->
      </td>
    </tr>
  </table>
</form>
</div>
