<div id="layout">
  <div class="container">
    <app-navbar-menu></app-navbar-menu>
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">H T V 3</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5"> “Hãy nghe nhạc bằng tai”</h2>
        </div>
      </div>
    </header>
    <app-poster></app-poster>
    <div>
      <app-list-song></app-list-song>

      <a routerLink="/song/create">Tạo mới bài hát</a>
      <app-create-song></app-create-song>
      <app-playlist></app-playlist>
      <a routerLink="/playlist/create">Tạo mới playlist</a>
      <app-create-playlist></app-create-playlist>
    </div>
    <div>
      <!--      <app-list-new-song></app-list-new-song>-->
      <!--      <app-list-new-playlist></app-list-new-playlist>-->
      <!--      <app-singer></app-singer>-->
    </div>
    <div>
      <!--      <app-list-all></app-list-all>-->
    </div>
  </div>
  <div class="container">
    <app-footer></app-footer>
  </div>
</div>

  <footer class="fixed-bottom" style="height: 100px;width: 100%" >
    <ngx-audio-player [playlist]="msaapPlaylist" [displayTitle]="msaapDisplayTitle" [autoPlay]="false"
                      muted="muted" [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="msaapPageSizeOptions" (trackEnded)="onEnded($event)"
                      [displayVolumeControls]="msaapDisplayVolumeControls" [displayRepeatControls]="msaapDisplayRepeatControls"
                      [disablePositionSlider]="msaapDisablePositionSlider" [displayArtist]="msaapDisplayArtist"
                      [displayDuration]="msaapDisplayDuration" [expanded]="true"></ngx-audio-player>
  </footer>
