<form class="form11" [formGroup]="songs" (ngSubmit)="deletePost(id)">
  <div><br></div><h2 style="margin-left: 150px">Xoá</h2>
  <input type="hidden" formControlName = "id">
  <h5>Tên ca khúc</h5>
  <input type="text" formControlName = "name"><div><br></div>
  <h5>Mô tả</h5>
  <input type="text" formControlName = "describeSong"><div><br></div>
  <h5>Ảnh</h5>
  <input type="text" formControlName = "avatar"><div><br></div>
  <h5>Nhạc sĩ</h5>
  <input type="text" formControlName = "author"><div><br></div>
  <h5>Ảnh</h5>
  <input type="text" formControlName = "avatar"><div><br></div>
  <h5>Thể hiện</h5>
  <input type="text" formControlName = "singer"><div><br></div>
  <h5>Album</h5>
  <input type="text" formControlName = "album"><div><br></div>
  <h5>Lượt xem</h5>
  <input type="text" formControlName = "view"><div><br></div>

  <br>
  <br>
  <button style="margin-left: 100px;background-color: red;color: white" class="col-lg-3">Xóa</button>
  <button routerLink="/list" style="margin-left: 20px;background-color: rgb(11,72,227);color: white" class="col-lg-3">Quay lại</button>
  <div><br></div>
</form>
